.table_container {
    margin-top: 9rem;
    height: 50rem;
    width: 126rem;
    margin-left: 25.8rem;
}

.breadcrumbs {
    margin-left: 3rem;
}

.title {
    font-size: 3.2rem;
    margin-left: 35%;
    margin-top: -4rem;
}

.actions {
    margin-top: -5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
}

.btn_action {
    width: 10rem;
    height: 4rem;
    font-size: 1.6rem !important;
    text-transform: capitalize !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_inline {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.action_add {
    width: 30rem;
    margin-left: 25%;
}

.title_modal {
    font-size: 3.2rem;
    margin-left: 15rem;
    margin-top: 2rem;
}

.label {
    font-size: 2rem;
    font-weight: 600;
}
