.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    min-height: 64rem;
}
.nav_filter {
    height: 50rem;
    padding: 2rem;
    width: 15%;
    position: fixed;
    left: 0;
    margin-top: 7.6rem;
}

.items_grid {
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-top: 7.6rem;
}

.card {
    margin: 2rem 2rem;
    width: 20rem;
}

.rating {
    display: flex;
    align-items: center;
}

.bottom_content {
    width: 100%;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.load_btn {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #e6e6e6;
    border-radius: 23px;
    min-width: 179px;
    height: 46px;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #222;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    &:hover {
        border-color: #222;
        background-color: #222;
        color: #fff;
        cursor: pointer;
    }
}

.link {
    text-decoration: none;
}
