.itemDetails {
    margin-top: 7.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgDetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 116.8rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.wrap_img_item {
    padding-left: 2.5rem;
    padding-right: 3rem;
}

.img_item {
    display: flex;
    justify-content: space-between;
}

.imgs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img_main {
    width: 51.2rem;
    height: 63.4rem;
    margin-left: 4rem;
}

.add_cart_item {
    width: 42rem;
    height: 63.4rem;
    padding: 1.5rem 0.5rem;
}

.name_item {
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 14px;
    color: #333;
}

.price_item {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.388888;
    padding-bottom: 14px;
    color: #333;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

.script_item {
    font-weight: 300;
    margin: 1.2rem 0;
}

.flex {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 1.2rem 0;
}

.flex_center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.2rem 0;
}

.quantity_option {
    align-items: center;
    display: inline-flex;
    width: 100%;
    margin: 1.2rem 1.2rem 0 13rem;
}

.input_quality {
    width: 6rem;
    height: 4.3rem;
    text-align: center;
    font-weight: 700;
}

.details_item {
    margin-bottom: 7rem;
    width: 116.8rem;
}

.list_ratings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.list_rating {
    border: 1px solid #ccc;
    margin-left: 6rem;
    margin-bottom: 3rem;
    width: 20rem;
}

.related {
    width: 100%;
    height: 66.4rem;
    padding-top: 4.5rem;
    padding-bottom: 10.5rem;
    background-color: #c1d2d2;
    border-bottom: 1px solid #ccc;
}

.related_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3_related {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    color: #222;
}

.link {
    text-decoration: none;
}

.card {
    margin: 2rem 2rem;
    width: 20rem;
}

.weight_600 {
    font-weight: 600;
}

.nhanxet {
    width: 100%;
    height: 5rem;
    background-color: #ececec;
}
