.cart_container {
    min-height: 80rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart_details {
    width: 90rem;
    min-height: 60rem;
    margin-left: 7.6rem;
}

.cart_payment {
    width: 35rem;
    height: 63rem;
    padding: 2rem 4rem 4rem;
    border: 1px solid #eee;
}

.img_name_item {
    text-align: center;
}

.input_quality {
    width: 6rem;
    height: 4.3rem;
    text-align: center;
    padding-left: 1.4rem;
    font-weight: 700;
}

.cart_coupon {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    border: 1px solid #ccc;
}

.h4_payment {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -0.5rem;
}

.subtotal_payment {
    border-bottom: 1px dashed #d9d9d9;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    margin-top: -1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.label {
    color: #333;
    font-weight: 500;
    width: 50%;
    font-size: 1.8rem;
}

.price {
    width: 50%;
    text-align: right;
}

.shipping_payment {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 33rem;
    border-bottom: 1px dashed #d9d9d9;
}

.update_shipping {
    background-color: #e6e6e6;
    border-radius: 23px;
    min-width: 179px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #222;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    border: none;

    &:hover {
        border-color: #222;
        background-color: #222;
        color: #fff;
        cursor: pointer;
    }
}

.total {
    margin-top: 1.2rem;
}

.total_value {
    color: #333;
    font-weight: 500;
    font-size: 2.5rem;
    width: 50%;
    text-align: right;
}

.thanhtoan {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flex_inline {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.selectbox {
    height: 4rem;
    width: 25rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    padding-left: 0.4rem;
}

.label_purchase {
    color: #333;
    font-weight: 500;
    width: 50%;
    font-size: 2.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.details_purchase {
    margin-left: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.btn_purchase {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: right;
    margin-top: 1.5rem;
}

.weight_500 {
    font-weight: 500;
}
